<div class="profile">
  <h2>Sobre mim</h2>
  <br>
  <h4>Olá, sou a Natália.</h4>
  <p>Desenvolvedora web com <b>um ano e meio de experiência</b> em Desenvolvimento de Software, com
  foco em <b>Front End</b>, e <b>Angular Framework</b>. </p>
  <p>Graduada em <b>Análise e Desenvolvimento de Sistemas</b>, pela Faculdade Estadual de Tecnologia de São Paulo, a FATEC.
    Pós-Graduada em Marketing Digital pela Pontifícia Católica de Minas - PUC Minas.
    E também Bacharel em Gestão Ambiental pela Universidade de São Paulo - USP.
  </p>
  <p>
    Realizei a minha transição de carreira durante a
    pandemia de COVID 19, quando migrei da área de Customer Success para Tecnologia, e tive a oportunidade de
    trabalhar em uma startup da área da Educação, com Desenvolvimento Front End.
  </p>
  <p>Nos últimos meses, me dediquei a aprofundar os meus conhecimentos em Angular, e explorar
    o universo do Back End, mais especificamente com as linguages Java, e C#. Assim como
    buscar conhecimento em Cloud, e atualmente sou certificada pela Oracle como Foundations Associate em OCI (Oracle Cloud Infrastructure).
    Você pode acessar estar certificação
    <a href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=C2118C38CEA3305DB86DA3EA7C9817E454BFD38D63AAB1B754F64E452F7E8475" target="_blank" class="">clicando aqui.</a>
  </p>
  <p>Acredito que a minha passagem pela área de <b>Customer Success</b> especializada em <b>Produtos Digitais</b>,
    proporcionou que o meu olhar permaneça sempre centrado na <b>experiência do cliente</b>, mas agora
    como <b></b>Desenvolvedora de Software.
  </p>
  <p>
    Tenho conhecimento avançado em Língua Inglesa (leitura, escrita e conversação).
  </p>
</div>
