
<div class="row projects">
  <h2>Projetos em Angular</h2>
  <h4>Aqui estão alguns dos projetos desenvolvidos por mim utilizando o Angular Framework.</h4>
  <div class="col-md-6">
      <div class="card " >
        <img class="card-img" src="../../../assets/images/memoteca.svg" alt="Imagem da tela do projeto Memoteca">
        <div class="card-body">
          <p class="card-title">Memoteca</p>
          <p class="card-sub-title">Sistema de cadastramento de lembretes</p>
          <p class="card-info">Desenvolvido em Angular 14, com Reactive Forms para o cadastramento de lembretes. Utilização do package JSON Server para simular o funcionamento de uma API REST, e permitir requisições HTTP para realizar um CRUD de lembretes.</p>
            <diV class="d-flex justify-content-center">
              <a href="https://natalia-resina-memoteca.vercel.app/" target="_blank" class="btn btn-pink">Acessar Projeto</a>
            </diV>
            <div class="d-flex justify-content-center">
              <a href="https://github.com/natalia-r-l/Angular-Memoteca" target="_blank" class="btn btn-pink">Acessar código no Github</a>
            </div>
        </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="card " >
      <img class="card-img" src="../../../assets/images/aluraBooks.svg" alt="Imagem da tela do projeto AluraBooks">
      <div class="card-body">
        <p class="card-title">AluraBooks</p>
        <p class="card-sub-title">Formulário de cadastro</p>
        <p class="card-info">Desenvolvido em Angular 14, com Formulários orientados a Templates.
          Consumo da API ViaCep para a validação de CEPs, e preenchimento automático de informações de endereço.</p>
          <diV class="d-flex justify-content-center">
            <a href="https://natalia-resina-alurabooks.vercel.app/" target="_blank" class="btn btn-pink">Acessar Projeto</a>
          </diV>
          <div class="d-flex justify-content-center">
            <a href="https://github.com/natalia-r-l/Angular-Formulario-Template" target="_blank" class="btn btn-pink">Acessar código no Github</a>
          </div>
      </div>
    </div>
</div>
</div>
