
<div class="container-fluid">
  <div class="row header">
    <div
      class="col-12 col-lg-6 d-flex justify-content-center header__first-section"
    >
      <img
        src="../../../assets/images/personal-card.svg"
        class="header__personal-card"
        alt="Arte visual para identificar Natália Resina como Desenvolvedora Full Stack"
      />
    </div>
    <div class="col-lg-6  d-none d-lg-block">
      <img
        src="../../../assets/images/planet-earth.png"
        class="header__planet-earth"
        alt="Visão de satélite de parte do planeta terra"
      />
    </div>
  </div>
