<div class="container-fluid">
  <div class="row header">
    <div
      class="col-12 col-lg-6 d-flex justify-content-center header__first-section"
    >
      <img
        src="../../../assets/images/personal-card.svg"
        class="header__personal-card"
        alt="Arte visual para identificar Natália Resina como Desenvolvedora Full Stack"
      />
    </div>
    <div class="col-lg-6  d-none d-lg-block">
      <img
        src="../../../assets/images/planet-earth.png"
        class="header__planet-earth"
        alt="Visão de satélite de parte do planeta terra"
      />
    </div>
  </div>

  <div class="profile">
    <h2>Sobre mim</h2>
    <br>
    <h4>Olá, sou a Natália.</h4>
    <p>Desenvolvedora web com <b>um ano e meio de experiência</b> em Desenvolvimento de Software, com
    foco em <b>Front End</b>, e <b>Angular Framework</b>. </p>
    <p>Graduada em <b>Análise e Desenvolvimento de Sistemas</b>, pela Faculdade Estadual de Tecnologia de São Paulo, a FATEC.
      Pós-Graduada em Marketing Digital pela Pontifícia Católica de Minas - PUC Minas.
      E também Bacharel em Gestão Ambiental pela Universidade de São Paulo - USP.
    </p>
    <p>
      Realizei a minha transição de carreira durante a
      pandemia de COVID 19, quando migrei da área de Customer Success para Tecnologia, e tive a oportunidade de
      trabalhar em uma startup da área da Educação, com Desenvolvimento Front End.
    </p>
    <p>Nos últimos meses, me dediquei a aprofundar os meus conhecimentos em Angular, e explorar
      o universo do Back End, mais especificamente com as linguages Java, e C#. Assim como
      buscar conhecimento em Cloud, e atualmente sou certificada pela Oracle como Foundations Associate em OCI (Oracle Cloud Infrastructure).
      Você pode acessar estar certificação
      <a href="https://catalog-education.oracle.com/pls/certview/sharebadge?id=C2118C38CEA3305DB86DA3EA7C9817E454BFD38D63AAB1B754F64E452F7E8475" target="_blank" class="">clicando aqui.</a>
    </p>
    <p>Acredito que a minha passagem pela área de <b>Customer Success</b> especializada em <b>Produtos Digitais</b>,
      proporcionou que o meu olhar permaneça sempre centrado na <b>experiência do cliente</b>, mas agora
      como <b></b>Desenvolvedora de Software.
    </p>
    <p>
      Tenho conhecimento avançado em Língua Inglesa (leitura, escrita e conversação).
    </p>
  </div>

  <div class="row projects">
    <h2>Projetos em Angular</h2>
    <div class="col-md-6">
        <div class="card " >
          <img class="card-img" src="../../../assets/images/memoteca.svg" alt="Imagem da tela do projeto Memoteca">
          <div class="card-body">
            <p class="card-title">Memoteca</p>
            <p class="card-sub-title">Sistema de cadastramento de lembretes</p>
            <p class="card-info">Desenvolvido em Angular 14, com Reactive Forms para o cadastramento de bilhetes.
              Utilização do package JSON Server para simular o funcionamento de uma de API REST, e
              permitir requisições HTTP.</p>
              <diV class="d-flex justify-content-center">
                <a href="https://angular-memoteca-beige.vercel.app/listNotes" target="_blank" class="btn btn-pink">Acessar Projeto</a>
              </diV>
              <div class="d-flex justify-content-center">
                <a href="https://github.com/natalia-r-l/Angular-Memoteca" target="_blank" class="btn btn-pink">Acessar código no Github</a>
              </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
      <div class="card " >
        <img class="card-img" src="../../../assets/images/aluraBooks.svg" alt="Imagem da tela do projeto AluraBooks">
        <div class="card-body">
          <p class="card-title">AluraBooks</p>
          <p class="card-sub-title">Formulário de cadastro</p>
          <p class="card-info">Desenvolvido em Angular 14, com Formulários orientados a Templates.
            Consumo da API ViaCep para a validação, de CEPs, e preenchimento automático de informações de endereço.</p>
            <diV class="d-flex justify-content-center">
              <a href="https://angular-formulario-template-8jueea8lx-natalia-r-l.vercel.app/cadastro" target="_blank" class="btn btn-pink">Acessar Projeto</a>
            </diV>
            <div class="d-flex justify-content-center">
              <a href="https://github.com/natalia-r-l/Angular-Formulario-Template" target="_blank" class="btn btn-pink">Acessar código no Github</a>
            </div>
        </div>
      </div>
  </div>
  </div>
</div>
