.header{
  height: 400px;
  background-color: #F04578;
}

.header__personal-card{
  width: 450px;
}



@media (max-width: 576px) {

  .header {
    height: 200px;
  }

  .header__personal-card {
      width: 300px;
  }
}
